################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/MobirisePageTranslator.macOS/bin/Debug
/MobirisePageTranslator.macOS/obj/iPhoneSimulator/Debug/actool
/MobirisePageTranslator.macOS/obj/iPhoneSimulator/Debug/g
/MobirisePageTranslator.macOS/obj
/MobirisePageTranslator.UWP/bin/x86/Debug
/MobirisePageTranslator.UWP/obj/x86/Debug
/MobirisePageTranslator.UWP/obj
/.vs
